version: '3.8'
services:
  app:
    image: chess:arm64-latest
    container_name: chess-server
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - maria
  maria:
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: chess
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
