form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    margin-bottom: 10px;
}

button.facebook {
    background-color: #3b5998;
    color: #fff;
    margin-bottom: 10px;
    /* Add margin-bottom to create space */
}

button.google {
    background-color: #db4437;
    color: #fff;
}

button.facebook:hover,
button.google:hover {
    opacity: 0.8;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the container height to 100% of the viewport height */
    overflow: hidden; /* Hide any overflow content */
  }
  
  .board {
    width: 60%; /* Set the chessboard width to 100% */
    height: 60%; /* Set the chessboard height to 100% */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Add any additional styling as needed */
  